/* The header CSS */

.mainheader {
	background: linear-gradient(284deg, #0042ff, #d5e19d);
	background-size: 400% 400%;

	-webkit-animation: AnimationName 8s ease infinite;
	-moz-animation: AnimationName 8s ease infinite;
	animation: AnimationName 8s ease infinite;
}

@-webkit-keyframes AnimationName {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@-moz-keyframes AnimationName {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes AnimationName {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
