h1 .LogoFont {
	font-family: 'Acme';
	font-weight: 900;
}
.customSection {
	width: 100vw;
	padding: 3%;
	height: 100vh;
	padding-top: 25vh;
}

.landingPageImage {
	width: 80%;
	margin: 10%;
	margin-top: 20%;
}
.landingSectionText {
	padding: 5%;
}

.buildSection {
	background: linear-gradient(270deg, #66bbf0, #e5f2ce, #fec6c1);
	background-size: 600% 600%;
	-webkit-animation: buildWith 6s ease infinite;
	-moz-animation: buildWith 6s ease infinite;
	animation: buildWith 6s ease infinite;
}

@-webkit-keyframes buildWith {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@-moz-keyframes buildWith {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes buildWith {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Company Cards */
.cardCompany {
	padding: 2%;
	margin: 2%;
	color: white;
	height: 400px;
}

.cardCompany img {
	width: 80%;
	margin: 5%;
	text-align: center;
}

/* Profile Card */
.profileCard {
	padding: 5%;
	background-color: rgb(30, 2, 152);
	color: white;
	margin: 5%;
	border-radius: 20px;
}

/* Font Styles */
h1 {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
	padding: 10px;
}

h3,
h4 {
	font-family: 'Poppins', helvetica;
	font-weight: 600;
}
